<% include partials/header %>

<header>
    <h1>todo<span>list</span></h1>
    <p>enter a todo below and it'll do the thing.</p>
</header>

<section>
    <input type="text" id="todoInput" placeholder="Type todo here...">
</section>

<ul class="todoList">
    
</ul>


<script src="app.js"></script>


<% include partials/footer %>